
head {border-bottom: 1px solid #C9D3B3;}
body {background-color: #F4F6F7;
      font: 1em arial;
      font-weight: lighter;
      color: #004B74;
}
h1 {
  color:#7A0548;
  font: small-caps 2em arial;
  font-weight: bold;
  margin-bottom: -10px;
}
h2 {
  font: small-caps 2em 'Times New Roman',times,serif;
  color:#004B74;
  margin-top: -10px;

}
h3{
  color: #004B74;
  font: 2em serif;
  font-weight: bolder;
  margin-bottom: -10px;
}

a:link {
  color: #650942;
  background-color: transparent;
  text-decoration: none
}
